.claim-step .blocks .count.active { background: transparent linear-gradient(180deg, #019778 0%, #5EB749 100%) 0% 0% no-repeat padding-box; color: #fff;}
.claim-step .blocks.one { border-color: #0a9a73;}


h1 { border-bottom: 1px solid #f8f8f8; padding-bottom: 20px; padding-left: 50px;}
div.claim-employee-steps .pan { position: relative; border-bottom: 1px solid #e5e5e5; list-style: none; padding-top: 10px; padding-bottom: 10px; }
div.claim-employee-steps .pan span.title { font-size: 16px; font-weight: bold;}
div.claim-employee-steps .pan span.material-icons { position: absolute; font-size: 30px; font-weight: 500; top: 7px; right: 0px;}
div.claim-employee-steps .pan .content { border-top: 6px solid #019778; padding-top: 10px; margin-top: 5px; display: none;}
div.claim-employee-steps .pan .content.one { display: block;}


