<div class="card bn claim-employee-steps">

  <h1><a routerLink=""><span class="material-icons">chevron_left</span></a>GROUP ASSURANCE <span> FAMILY BENEFIT CLAIM FORM </span></h1>

  <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between">
       <div fxFlex="70">

        <div class="claim-step" fxLayout="row" fxLayoutAlign="space-between center">
          <div class="blocks one">
            <div class="count active">1</div>
          </div>
          <div class="blocks two_h">
            <div class="count">2</div>
          </div>
          <div class="blocks three">
            <div class="count">3</div>
          </div>
          <div class="blocks four_h">
            <div class="count">4</div>
          </div>
          <div class="blocks fives">
            <div class="count">5</div>
          </div>
          <div class="blocks six">
            <div class="count">6</div>
          </div>
        </div>

         <div class="claim-employee-steps">
           <div class="pan"><span class="title">Employee Details</span><span class="material-icons">expand_less</span>
            <div class="content one">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
           </div>
           <div class="pan"><span class="title">SCHEME DETAILS</span> <span class="material-icons">expand_more</span>
            <div class="content two">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
          </div>
           <div class="pan"><span class="title">Deceased Person’s DETAILS</span><span class="material-icons">expand_more</span>
            <div class="content three">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
          </div>
           <div class="pan"><span class="title">NOMINEE DETAILS</span><span class="material-icons">expand_more</span>
            <div class="content four">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
          </div>
           <div class="pan"><span class="title">Document UPLOAD | Request</span><span class="material-icons">expand_more</span>
            <div class="content five">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
          </div>
          </div>
      </div>
       <div fxFlex="30">

       </div>

  </div>

</div>

