  .top-nav-wrp {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-weight: 600;
    box-shadow: 1px 5px 3px #dcddde;
    .tollfree-num-wrp {
        .title {
          color: #747474;
        }
        .tollfree-num {
          color: #282828;
          text-decoration: none;
          cursor: pointer;
          font-size: 15px;
        }
    }
  }
