<div class="top-nav-wrp" role="navigation">
    <div class="container">
        <div fxLayout="row" fxLayoutAlign="space-between center">

            <div class="brand" role="logo" >
                <img src="../../../../assets/images/logo.PNG" alt="InsureArk logo">
            </div>
            
            <div class="tollfree-num-wrp" role="toll free number">
                <span class="title">For help call </span>  
                <a _ngcontent-bbh-c11="" href="tel:0860 665463" class="tollfree-num">0860 665463</a>
            </div>
        </div>
    </div>
</div>
