<div fxFlex="column">
    <div class="tollfree-info-wrp">
                <p>You are welcome to contact us at should you require assistance with completing and submitting this form.</p>
            <div>

            <div class="tollfree-num-wrp">
                <bi name="telephone" class="telephone-icon"></bi>
                <a href="tel:+021 509 4351" class="tollfree-num">021 509 4351</a>
            </div>
            </div>
    </div>

    <div class="guideline-info-wrp">
        <article>
            <h6 class="title">
              <span>GUIDELINES FOR</span>
                <span>
                    COMPLETION OF THIS FORM
                </span>
            </h6>
            <p>The following guidelines will help Old Mutual Group Assurance to process your claim quickly and accurately</p>
        </article>
        <div class="guideline-list">
            <ul class="guideline-list">
                <li>These claim forms must be completed by an authorised representative of the employer.</li>
                <li>Complete the application form fully and in detail as it gives us important information.</li>
                 <li>Write your answers in clear black or blue block letters so that it is easy to read.</li>
                 <li>If the form is completed electronically, please print, sign, stamp and scan the form to send to us.</li>

            </ul>

        </div>
    </div>

</div>
